<footer class="max-w-full bg-[#202942] text-[#ADB5BD] font-sans text-[16px]">
    <div class="max-w-6xl mx-auto py-16 flex flex-col md:flex-row justify-between px-4 md:px-4 gap-8">
        <!-- Digittech -->
        <div class="flex flex-col w-[17rem] md:w-80 gap-5">
            <h5 class="text-white text-xl">Digittech</h5>
            <p class="tracking-normal leading-8 md:max-w-xl text-[15px] md:text-[16px]">Start working with Digittech that can provide everything
                you need to generate awareness, drive traffic, connect.</p>
            <div class="flex gap-1">
                <!-- facebook -->
                <div
                    class="border border-[#283453] rounded-md px-2 py-1 w-10 h-fit hover:bg-[#2f55d4] cursor-pointer transition-all ease-in duration-500">
                    <img src="../../assets/facebook.png" alt="">
                </div>
                <!-- instagram -->
                <div
                    class="border border-[#283453] rounded-md px-2 py-1 w-10 h-fit hover:bg-[#2f55d4] cursor-pointer transition-all ease-in duration-500">
                    <img src="../../assets/instagram2.png" alt="">
                </div>
                <!-- twitter -->
                <div
                    class="border border-[#283453] rounded-md px-2 py-1 w-10 h-fit hover:bg-[#2f55d4] cursor-pointer transition-all ease-in duration-500">
                    <img src="../../assets/twitter.png" alt="">
                </div>
                <!-- linkedin -->
                <div
                    class="border border-[#283453] rounded-md px-2 py-1 w-10 h-fit hover:bg-[#2f55d4] cursor-pointer transition-all ease-in duration-500">
                    <img src="../../assets/linkedin.png" alt="">
                </div>
            </div>
        </div>
        <!-- Company -->
        <div class="flex flex-col gap-4">
            <h5 class="text-xl text-white">Company</h5>
            <ul class="flex flex-col gap-4 list-none p-2">
                <li><a href="">About us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Project</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <!-- Useful Links -->
        <div class="flex flex-col gap-4">
            <h5 class="text-xl text-white">Useful Links</h5>
            <ul class="flex flex-col gap-4 list-none p-2">
                <li><a href="">Term of Services</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Documentation</a></li>
            </ul>
        </div>
        <!-- NewsLetter -->
        <div class="flex flex-col w-full md:w-64 gap-5">
            <h5 class="text-white text-xl">NewsLetter</h5>
            <p class="tracking-normal leading-7 max-w-xl">Sign up and receive the latest tips via email.</p>
            <label for="" class="font-semibold text-[14px]">Write your email <span class="text-[#E43F52]">*</span></label>
            <div
                class="flex items-center rounded-md px-5 py-[0.50rem] bg-[#27314f] border border-[#27314f] focus:border focus:border-[#27314f] gap-2">
                <i class="fa-solid fa-envelope"></i>
                <input type="email"
                    class="outline-none bg-[#27314f] border border-[#27314f] text-[#dee2e6e5] text-[14px] px-3 placeholder:text-[#dee2e6e5]"
                    placeholder="Your Email:">
            </div>
            <button
                class="bg-[#27314f] px-5 py-3 rounded-md text-[#2f55d4] font-semibold shadow-md transition-all ease-in duration-500 hover:bg-blue-600 hover:text-white">Subscribe</button>
        </div>
    </div>
    <!-- Copyright -->
    <div class="border-t border-[#283453] py-6">
        <div class="text-center w-80 md:w-full leading-8 text-[15px] md:text-[16px] flex items-center gap-1 justify-center">
                <p>© 2022 Digittech. Design with</p>
                <img src="../../assets/love.png" alt="" class="w-5 h-fit">by 
                <p class="hidden md:flex">Digit Technologies.</p>
        </div>
        <p class="block md:hidden text-center">Digit Technologies.</p>
        <div>
            
        </div>
    </div>
</footer>