<main class="main-wrapper">
    <!-- hero -->
    <section class="mb-10">
        <div class="hero-image h-7/12 md:h-8/12 py-44 w-full bg-[#f8f9fa] max-w-full mx-auto text-center">
            <h4 class="text-[#212529] text-2xl md:text-4xl">About us</h4>
        </div>
        <!-- <div>
            <nav class="max-w-xs mx-auto -mt-4">
                <ul class="flex gap-5 px-3 py-2 justify-center rounded-md shadow-md uppercase font-semibold bg-white">
                    <li><a routerLink="/home" class=" py-5 text-[#212529] hover:text-blue-700 transition-all ease-in">Home</a></li>
                    <li class="active text-[#212529] hover:text-blue-700 transition-all ease-in"> About Us</li>
                </ul>
            </nav>
        </div> -->
    </section>
    <!-- story -->
    <section class="p-3 max-w-6xl mx-auto block md:flex justify-between items-center mt-12 md:px-8 gap-10 md:mb-32">
        <!-- Image-section -->
        <img src="../../assets/about.jpg" alt="" class="block md:flex w-full md:w-[38%] rounded-md mb-6">
        <!-- Content-section -->
        <div class="w-full md:w-7/12 md:px-4 flex flex-col gap-6 mb-16">
            <div class="flex flex-col gap-8">
                <h1 class="text-2xl md:text-3xl font-semibold text-[#161C2D] leading-normal">Our Story</h1>
                <p class="text-[#8492A6] text-md font-base">Start working with <span class="text-blue-700 font-semibold">Digit</span> that can provide everything you need to generate awareness, drive traffic, connect. Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available. Dummy texts have been in use by typesetters since the 16th century.</p>
                <button
                class="bg-blue-700 text-white mb-3 md:mb-0 py-2 md:px-5 px-8 w-36 md:w-32 text-[16px] text-center font-semibold rounded-md hover:bg-blue-600 hover:text-white transition-all ease-in duration-300">
                <span>Contact us</span>
            </button>
            </div>
        </div>
    </section>
    <section class="max-w-full mx-auto bg-[#F8F9FA] py-20 md:px-10">
      <!-- How do we work -->
      <div class="flex flex-col gap-4 mb-24">
        <h6 class="text-blue-700 text-center font-semibold">Work Process</h6>
        <div class="flex flex-col gap-8 mb-14">
            <h4 class="text-3xl font-semibold font-sans text-[#161C2D] text-center">How do we work?</h4>
            <p class="text-[#8492A6] font-semibold text-center text-md leading-relaxed font-base max-w-2xl mx-auto">
                Start working with <span class="text-blue-700 font-normal">Digit</span> that can provide everything
                you need to generate <br> awareness, drive traffic, connect.</p>
        </div>
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row gap-4">
            <div class="flex">
                <div class="flex flex-col gap-4 w-full md:w-44 justify-center items-center">
                    <div class="rounded bg-[#2F55D41A] w-16 flex justify-center items-center px-2 py-5">
                        <img src="../../assets/presentation.png" alt="" class="w-6 h-fit">
                    </div>
                    <div class="flex flex-col gap-3">
                        <h5 class="text-[#212529] text-xl text-center">Discussion</h5>
                        <p class="text-[#8492A6] leading-relaxed text-center">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated</p>
                    </div>
                </div>
                <img src="../../assets/process.png" alt="" class="hidden md:flex w-36 h-fit mt-16">
            </div>
            <div class="flex mt-10 px-2">
                <div class="flex flex-col gap-4 w-full md:w-44 justify-center items-center">
                    <div class="rounded bg-[#2F55D41A] w-16 flex justify-center items-center px-2 py-5">
                        <img src="../../assets/airplay.png" alt="" class="w-6 h-fit">
                    </div>
                    <div class="flex flex-col gap-3">
                        <h5 class="text-[#212529] text-xl text-center">Strategy & Testing</h5>
                        <p class="text-[#8492A6] leading-relaxed text-center">Generators convallis odio, vel pharetra quam malesuada vel. Nam porttitor malesuada.</p>
                    </div>
                </div>
                <img src="../../assets/process.png" alt="" class="hidden md:flex w-36 h-fit mt-14">
            </div>
                <div class="flex flex-col gap-4 w-full md:w-44 justify-center items-center mt-12 md:mt-24">
                    <div class="rounded bg-[#2F55D41A] w-16 flex justify-center items-center px-2 py-5">
                        <img src="../../assets/image-check.png" alt="" class="w-6 h-fit">
                    </div>
                    <div class="flex flex-col gap-3">
                        <h5 class="text-[#212529] text-xl text-center">Reporting</h5>
                        <p class="text-[#8492A6] leading-relaxed text-center">Internet Proin tempus odio, vel pharetra quam malesuada vel. Nam porttitor malesuada.</p>
                    </div>
                </div>
        </div>
      </div>
      <!-- Our services -->
      <div class="flex flex-col gap-2 md:px-14">
        <h6 class="text-blue-700 font-semibold text-center md:text-left">Services</h6>
        <div class="flex flex-col gap-8 mb-14">
            <h4 class="text-2xl font-semibold text-center md:text-left font-sans text-[#161C2D] tracking-wide">What we do</h4>
            <p class="text-[#8492A6] text-center md:text-left text-md leading-relaxed font-base max-w-2xl">
                Start working with <span class="text-blue-700 font-normal">Digit</span> that can provide everything
                you need to generate <br> awareness, drive traffic, connect.</p>
        </div>
        <div class="w-full flex flex-col md:flex-row px-5 md:px-0 gap-3">
            <div class="rounded-md shadow px-5 py-4 w-full md:w-4/12 h-60">
                <ul class="flex flex-col gap-4">
                    <li *ngIf="title!=='web-developing'" class="px-4 py-2 text-center rounded-md cursor-pointer" (click)="changeTitle('web-developing')"><a>Web Developing</a></li>
                    <li *ngIf="title=='web-developing'" class="px-4 py-2 text-center rounded-md cursor-pointer bg-[#2F55D4] text-white" (click)="changeTitle('web-developing')"><a class="text-white">Web Developing</a></li>
                    <li *ngIf="title!=='database-analysis'" class="px-2 lg:px-4 py-2 text-center rounded-md cursor-pointer" (click)="changeTitle('database-analysis')"><a>Database Analysis</a></li>
                    <li *ngIf="title=='database-analysis'" class="px-2 lg:px-4 py-2 text-center rounded-md cursor-pointer bg-[#2F55D4] text-white" (click)="changeTitle('database-analysis')"><a>Database Analysis</a></li>
                    <li *ngIf="title!=='server-security'" class="px-2 lg:px-4 py-2 text-center rounded-md cursor-pointer" (click)="changeTitle('server-security')"><a>Server Security</a></li>
                    <li *ngIf="title=='server-security'" class="px-2 lg:px-4 py-2 text-center rounded-md cursor-pointer bg-[#2F55D4] text-white" (click)="changeTitle('server-security')"><a>Server Security</a></li>
                    <li *ngIf="title!=='web-designing'" class="px-2 lg:px-4 py-2 text-center rounded-md cursor-pointer" (click)="changeTitle('web-designing')"><a>Web Designing</a></li>
                    <li *ngIf="title=='web-designing'" class="px-2 lg:px-4 py-2 text-center rounded-md cursor-pointer bg-[#2F55D4] text-white" (click)="changeTitle('web-designing')"><a>Web Designing</a></li>
                </ul>
            </div>
            <div *ngIf="title=='web-developing'" class="rounded-md shadow-md px-6 py-6 w-full md:w-8/12">
                <img src="../../assets/7.jpg" alt="" class="rounded-md mb-7">
                <div>
                    <p class="text-[#8492A6] leading-relaxed">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                    <a href="" class="flex items-center gap-3 text-blue-600">
                        <span class="">See More</span>
                        <i class="fa-solid fa-angle-right mt-[0.35rem]" style="font-size: 12px;"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="title=='database-analysis'" class="rounded-md shadow-md px-6 py-6 w-full md:w-8/12">
                <img src="../../assets/8.jpg" alt="" class="rounded-md mb-7">
                <div>
                    <p class="text-[#8492A6] leading-relaxed">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                    <a href="" class="flex items-center gap-3 text-blue-600">
                        <span class="">See More</span>
                        <i class="fa-solid fa-angle-right mt-[0.35rem]" style="font-size: 12px;"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="title=='server-security'" class="rounded-md shadow-md px-6 py-6 w-full md:w-8/12">
                <img src="../../assets/9.jpg" alt="" class="rounded-md mb-7">
                <div>
                    <p class="text-[#8492A6] leading-relaxed">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                    <a href="" class="flex items-center gap-3 text-blue-600">
                        <span class="">See More</span>
                        <i class="fa-solid fa-angle-right mt-[0.35rem]" style="font-size: 12px;"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="title=='web-designing'" class="rounded-md shadow-md px-6 py-6 w-full md:w-8/12">
                <img src="../../assets/12.jpg" alt="" class="rounded-md mb-7">
                <div>
                    <p class="text-[#8492A6] leading-relaxed">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                    <a href="" class="flex items-center gap-3 text-blue-600">
                        <span class="">See More</span>
                        <i class="fa-solid fa-angle-right mt-[0.35rem]" style="font-size: 12px;"></i>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </section>
</main>