<main>
    <!-- Hero -->
    <section class="mb-10 max-w-full mx-auto md:mb-20">
        <div class="hero-image h-7/12 md:h-8/12 py-44 w-full bg-[#f8f9fa] max-w-full mx-auto text-center">
            <h4 class="text-[#212529] text-2xl md:text-4xl">Contact Us</h4>
        </div>
    </section>
    <section class="px-8 lg:px-8 max-w-6xl mx-auto mb-10 md:mb-20">
        <div class="flex flex-col md:flex-row gap-3 md:gap-8 lg:gap-14 flex-wrap">
            <div class=" w-full md:w-[11rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded bg-[#2F55D41A] w-16 flex justify-center items-center px-2 py-5"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/phone.png" alt="" class="w-6 lg:w-8 h-fit relative">
                </div>
                <div class="flex flex-col gap-3">
                    <h2 class="text-[#212529] text-xl font-semibold">Phone</h2>
                    <p class="text-[#8492A6] leading-2">Start working with Landrick that can provide everything</p>
                    <a routerLink="/" class="text-blue-600">+152 534-468-854</a>
                </div>
            </div>
            <div class=" w-full md:w-[11rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded bg-[#2F55D41A] w-16 flex justify-center items-center px-2 py-5"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/secured-letter.png" alt="" class="w-6 lg:w-8 h-fit relative">
                </div>
                <div class="flex flex-col gap-3">
                    <h2 class="text-[#212529] text-xl font-semibold">Email</h2>
                    <p class="text-[#8492A6] leading-2">Start working with Landrick that can provide everything</p>
                    <a routerLink="/" class="text-blue-600">contact@example.com</a>
                </div>
            </div>
            <div class=" w-full md:w-[11rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded bg-[#2F55D41A] w-16 flex justify-center items-center px-2 py-5"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/location.png" alt="" class="w-6 lg:w-8 h-fit relative">
                </div>
                <div class="flex flex-col gap-3">
                    <h2 class="text-[#212529] text-xl font-semibold">Location</h2>
                    <p class="text-[#8492A6] leading-2">C/54 Northwest Freeway, Suite 558,
                        Houston, USA 485.</p>
                    <a href="https://goo.gl/maps/K2JfXv9bTR1BSHog7" target="_blank" class="text-blue-600">View on Google map</a>
                </div>
            </div>
        </div>
    </section>
    <div class="max-w-6xl mx-auto block md:flex justify-between items-center gap-3 md:px-8 mb-10 md:mb-24">
        <!-- Form-section -->
        <div class="bg-white rounded-md shadow p-5 md:w-7/12">
            <form action="" class="flex flex-col py-6 px-3 gap-4">
                <h2 class="text-2xl font-semibold">Get In Touch !</h2>
                <!-- Name -->
                <div class="flex flex-col gap-3">
                    <label for="" class="font-semibold text-sm">Your Name <span class="text-[#E43F52]">*</span></label>
                    <div
                        class="flex items-center rounded-md px-5 py-[0.375rem] text-[#3C4858] border border-gray-300 focus:border focus:border-blue-700 gap-4">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" placeholder="Name :"
                            class="] outline-none placeholder:text-[#3C4858] text-sm">
                    </div>
                </div>
                <!-- Email -->
                <div class="flex flex-col gap-3">
                    <label for="" class="font-semibold text-sm">Your Email <span class="text-[#E43F52]">*</span></label>
                    <div
                        class="flex items-center rounded-md px-5 py-[0.375rem] text-[#3C4858] border border-gray-300 focus:border focus:border-blue-700 gap-4">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" placeholder="Email :"
                            class="] outline-none placeholder:text-[#3C4858] text-sm">
                    </div>
                </div>
                <!-- Password -->
                <div class="flex flex-col gap-3">
                    <label for="" class="font-semibold text-sm">Subject</label>
                    <div
                        class="flex items-center rounded-md px-5 py-[0.375rem] text-[#3C4858] border border-gray-300 focus:border focus:border-blue-700 gap-4">
                        <img src="../../assets/password.png" alt="" class="w-5 h-fit">
                        <input type="text" placeholder="Subject :"
                            class="] outline-none placeholder:text-[#3C4858] text-sm">
                    </div>
                </div>
                <!-- Comment -->
                <div class="flex flex-col gap-3">
                    <label for="" class="font-semibold text-sm">Comment <span class="text-[#E43F52]">*</span></label>
                    <div
                        class="flex rounded-md px-5 py-[0.5rem] border border-gray-300 text-[#3C4858] focus:border  focus:border-blue-700 gap-4">
                        <img src="../../assets/password.png" class="w-5 h-fit" alt="">
                        <textarea type="text" placeholder="Message :"
                            class="] rounded-md w-full outline-none placeholder:text-[#3C4858] max-h-28 h-28 text-sm"></textarea>
                    </div>
                </div>
                <!-- Button -->
                <button
                    class="bg-blue-700 border border-blue-700 w-full text-white py-3 md:px-5 px-8 text-base text-center font-normal rounded-md  hover:bg-blue-600 transition-all ease-in duration-300">Send
                    Message</button>
            </form>
        </div>
        <!-- <div class="w-8/12"> -->
            <!-- Content-section -->
            <img src="../../assets/contact.svg" alt="" class="hidden md:flex w-7/12">
        <!-- </div> -->
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.8455497054897!2d3.3709788143087938!3d7.143852017623568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103a4b26beb162e1%3A0x16c88544cf40626b!2sDigit%20Information%20and%20Software%20Technologies!5e0!3m2!1sen!2sng!4v1667587386432!5m2!1sen!2sng" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full"></iframe>
    </div>
</main>