<main>
    <section class="max-w-full mx-auto bg-[#F8F9FA] py-20 md:px-10">
        <div class=" max-w-7xl mx-auto mb-14 lg:mb-28">
            <div class="flex flex-col gap-4">
                <h6 class="text-blue-700 text-center font-semibold">Our Latest Projects</h6>
                <div class="flex flex-col gap-8 mb-14">
                    <h4 class="text-3xl font-semibold font-sans text-[#161C2D] text-center">How do we work?</h4>
                    <p
                        class="text-[#8492A6] font-semibold text-center text-md leading-relaxed font-base max-w-2xl mx-auto">
                        Start working with <span class="text-blue-700 font-normal">Digit</span> that can provide
                        everything
                        you need to generate <br> awareness, drive traffic, connect.</p>
                </div>
            </div>
            <div class="flex flex-wrap gap-5 px-5 md:px-2 lg:px-10">
                <div
                    class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/1.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Hospital Management System</a>
                            <small>Web App (HMS)</small>
                        </div>
                    </div>
                </div>
                <div
                    class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/2.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">School Management System</a>
                            <small>Web App (SMS)</small>
                        </div>
                    </div>
                </div>
                <div
                    class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/3.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Church Management System</a>
                            <small>Web App (CMS)</small>
                        </div>
                    </div>
                </div>
                <div
                    class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/4.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Services Management System</a>
                            <small>Web App (SMS)</small>
                        </div>
                    </div>
                </div>
                <div
                    class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/1.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Hospital Management System</a>
                            <small>Web App (HMS)</small>
                        </div>
                    </div>
                </div>
                <div
                    class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/8.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Church Management System</a>
                            <small>Web App (CMS)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="px-12">
                <button
                    class="bg-blue-700 text-white mb-3 md:mb-0 py-2 md:py-3 md:px-8 px-8 w-48 md:w-48 text-[16px] text-center font-semibold rounded-md hover:bg-blue-600 hover:text-white transition-all ease-in duration-300 md:ml-[16rem] lg:ml-[32rem]">
                    <span>Contact Us</span>
                </button>
            </div>
        </div>
    </section>
</main>