<main>
    <!-- Hero -->
    <section class="mb-10 max-w-full mx-auto md:mb-20">
        <div class="hero-image h-7/12 md:h-8/12 py-44 w-full bg-[#f8f9fa] max-w-full mx-auto text-center">
            <h4 class="text-[#212529] text-2xl md:text-4xl">Our Services</h4>
        </div>
    </section>
    <!-- Services -->
    <section class="px-8 lg:px-12 max-w-7xl mx-auto mb-10 md:20">
        <div class="flex flex-col md:flex-row gap-3 md:gap-8 lg:gap-14 flex-wrap">
            <div class=" w-full md:w-[13.5rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded-full p-4 bg-white w-14 h-fit"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/pencil.png" alt="" class="w-6 h-fit relative">
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-[#212529] text-xl font-semibold">Design & Development</h2>
                    <p class="text-[#8492A6] leading-2">Nisi aenean vulputate eleifend tellus vitae eleifend enim a
                        Aliquam aenean elementum semper.</p>
                </div>
            </div>
            <div class=" w-full md:w-[13.5rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded-full p-4 bg-white w-14 h-fit"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/pencil.png" alt="" class="w-6 h-fit relative">
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-[#212529] text-xl font-semibold">Management & Marketing</h2>
                    <p class="text-[#8492A6] leading-2">Allegedly, a Latin scholar established the origin of the text by
                        established compiling.</p>
                </div>
            </div>
            <div class=" w-full md:w-[13.5rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded-full p-4 bg-white w-14 h-fit"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/pencil.png" alt="" class="w-6 h-fit relative">
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-[#212529] text-xl font-semibold">Stratagy & Research</h2>
                    <p class="text-[#8492A6] leading-2">It seems that only fragments of the original text remain in the
                        Lorem the original Ipsum texts used today.</p>
                </div>
            </div>
            <div class=" w-full md:w-[13.5rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded-full p-4 bg-white w-14 h-fit"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/pencil.png" alt="" class="w-6 h-fit relative">
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-[#212529] text-xl font-semibold">Easy To Use</h2>
                    <p class="text-[#8492A6] leading-2">Nisi aenean vulputate eleifend tellus vitae eleifend enim a
                        Aliquam aenean elementum semper.</p>
                </div>
            </div>
            <div class=" w-full md:w-[13.5rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded-full p-4 bg-white w-14 h-fit"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/pencil.png" alt="" class="w-6 h-fit relative">
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-[#212529] text-xl font-semibold">Daily Reports</h2>
                    <p class="text-[#8492A6] leading-2">Allegedly, a Latin scholar established the origin of the
                        established text by compiling unusual word.</p>
                </div>
            </div>
            <div class=" w-full md:w-[13.5rem] lg:w-[20rem] flex flex-col gap-3 items-center text-center">
                <div class="rounded-full p-4 bg-white w-14 h-fit"
                    style="background: linear-gradient(45deg,transparent,rgba(47,85,212,.1));">
                    <img src="../../assets/pencil.png" alt="" class="w-6 h-fit relative">
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-[#212529] text-xl font-semibold">Real Time Zone</h2>
                    <p class="text-[#8492A6] leading-2">It seems that only fragments of the original text remain in only
                        fragments the Lorem Ipsum texts used today.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients Review -->
    <section class="max-w-full mx-auto py-20 md:px-10">
        <div class="flex flex-col gap-4">
            <h6 class="text-blue-700 text-center font-semibold">Work Process</h6>
            <div class="flex flex-col gap-8 mb-14">
                <h4 class="text-3xl font-semibold font-sans text-[#161C2D] text-center">How do we work?</h4>
                <p class="text-[#8492A6] font-semibold text-center text-md leading-relaxed font-base max-w-2xl mx-auto">
                    Start working with <span class="text-blue-700 font-normal">Digit</span> that can provide everything
                    you need to generate <br> awareness, drive traffic, connect.</p>
            </div>
        </div>
        <div class="mb-32 flex flex-wrap gap-10 justify-center">
            <!-- Slide Items -->
            <div class="w-48 h-48 text-center flex flex-col justify-center px-36 shadow-md rounded-md">
                <div class="">1</div>
            </div>
            <div class="w-48 h-48 text-center flex flex-col justify-center px-36 shadow-md rounded-md">
                <div class="">2</div>
            </div>
            <div class="w-48 h-48 text-center flex flex-col justify-center px-36 shadow-md rounded-md">
                <div class="">3</div>
            </div>
            <div class="w-48 h-48 text-center flex flex-col justify-center px-36 shadow-md rounded-md">
                <div class="">4</div>
            </div>
            <div class="w-48 h-48 text-center flex flex-col justify-center px-36 shadow-md rounded-md">
                <div class="">5</div>
            </div>
            <div class="w-48 h-48 text-center flex flex-col justify-center px-36 shadow-md rounded-md">
                <div class="">6</div>
            </div>
            <!-- Slide Items Ends -->
        </div>
    </section>
    <!-- Our Projects -->
    <section class="max-w-full mx-auto bg-[#F8F9FA] py-20 md:px-10">
        <div class=" max-w-7xl mx-auto mb-14 lg:mb-36">
            <div class="flex flex-col gap-4">
                <h6 class="text-blue-700 text-center font-semibold">Our Latest Projects</h6>
                <div class="flex flex-col gap-8 mb-14">
                    <h4 class="text-3xl font-semibold font-sans text-[#161C2D] text-center">How do we work?</h4>
                    <p
                        class="text-[#8492A6] font-semibold text-center text-md leading-relaxed font-base max-w-2xl mx-auto">
                        Start working with <span class="text-blue-700 font-normal">Digit</span> that can provide
                        everything
                        you need to generate <br> awareness, drive traffic, connect.</p>
                </div>
            </div>
            <div class="flex flex-wrap gap-5 px-5 md:px-2 lg:px-10">
                <div class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/1.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Hospital Management System</a>
                            <small>Web App (HMS)</small>
                        </div>
                    </div>
                </div>
                <div class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/2.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">School Management System</a>
                            <small>Web App (SMS)</small>
                        </div>
                    </div>
                </div>
                <div class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/3.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Church Management System</a>
                            <small>Web App (CMS)</small>
                        </div>
                    </div>
                </div>
                <div class="container bg-black relative md:w-80 lg:w-[36rem] rounded-xl hover:skew-x-2 transition-all ease-out duration-500 cursor-pointer">
                    <img src="../../assets/4.jpg" alt="Avatar"
                        class="image opacity-100 block h-auto transition-all ease-in-out duration-500 rounded-xl"
                        style="width:100%">
                    <div
                        class="middle transition-all ease-in-out duration-500 opacity-0 absolute top-1/2 left-1/2 text-center">
                        <div class="text text-white flex flex-col -ml-28 gap-2">
                            <a href="" class="font-semibold text-xl">Services Management System</a>
                            <small>Web App (SMS)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
                <div class="flex flex-col gap-8 mb-14 md:px-16 lg:p-0">
                    <h4 class="text-xl md:text-3xl font-semibold font-sans text-[#161C2D] text-center leading-10">See everything about your employee at one place.</h4>
                    <p class="text-[#8492A6] font-semibold text-center text-md leading-relaxed font-base max-w-2xl mx-auto">
                        Start working with <span class="text-blue-700 font-normal">Digit</span> that can provide everything
                        you need to generate <br> awareness, drive traffic, connect.</p>
                </div>
                <div class="px-12">
                    <button
                class="bg-blue-700 text-white mb-3 md:mb-0 py-2 md:py-3 md:px-8 px-8 w-48 md:w-48 text-[16px] text-center font-semibold rounded-md hover:bg-blue-600 hover:text-white transition-all ease-in duration-300 md:ml-[16rem] lg:ml-[32rem]">
                <span>Get Started Now</span>
            </button>
                </div>
            </div>
    </section>
</main>